<div class="container mt-4">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">
        <form #ecomProdForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input required pattern="^[A-Za-z]+$" ngModel #customerName="ngModel" name="customerName" type="text" class="form-control">
            <p class="text-danger" *ngIf="customerName.touched && customerName.hasError('required')">Customer Name is a required field.</p>
            <p class="text-danger" *ngIf="customerName.dirty && customerName.hasError('pattern')">Invalid Customer Name</p>
          </div>

          <div class="form-group">
            <label for="prodName">Product Name</label>
            <input required ngModel #prodName="ngModel" name="prodName" type="text" class="form-control">
            <p class="text-danger" *ngIf="prodName.touched && prodName.hasError('required')">Product Name is a required field.</p>
          </div>

          <div class="form-group">
            <label for="rating">Rating</label>
            <select required ngModel #rating="ngModel" name="rating" type="text" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <p class="text-danger" *ngIf="rating.touched && rating.hasError('required')">Plz Select Rating</p>
          </div>

          <div class="form-group">
            <label for="reviewTitle">Review Title</label>
            <input required minlength="5" ngModel #reviewTitle="ngModel" name="reviewTitle" type="text" class="form-control">
            <p class="text-danger" *ngIf="reviewTitle.touched && reviewTitle.hasError('required')">Review Title is a required field.</p>
            <p class="text-danger" *ngIf="reviewTitle.dirty && reviewTitle.hasError('minlength')">The minlength of Review Title should be {{reviewTitle.errors?.['minlength'].requiredLength}}  and the actual length is {{reviewTitle.errors?.['minlength'].actualLength}} </p>
          </div>

          <div class="form-group">
            <label for="reviewDescription">Review Description</label>
            <textarea rows="4" required minlength="30" ngModel #reviewDescription="ngModel" name="reviewDescription" type="text" class="form-control"></textarea>
            <p class="text-danger" *ngIf="reviewDescription.touched && reviewDescription.hasError('required')">Review Description is a required field.</p>
            <p class="text-danger" *ngIf="reviewDescription.dirty && reviewDescription.hasError('minlength')">The minlength of Review Description should be {{reviewDescription.errors?.['minlength'].requiredLength}} and the actual length is {{reviewDescription.errors?.['minlength'].actualLength}}
            </p>
          </div>

          <button class="btn btn-sm btn-success btn-block">Submit Review</button>
        </form>
      </div>
    </div>
  </div>
</div>